<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

    <form (submit) = "onSubmit()">
        <p> {{ newTask | json }}</p>
        <input type="text" name = "newTask.title" [(ngModel)] = "newTask.title" />
        <input type="text" name = "newTask.description" [(ngModel)] = "newTask.description" />
        <input type="submit" value = "Create Task" />
    </form>

    <button (click) = "onButtonClick()">{{ showHide }} all tasks</button>
    <div *ngIf = "showTasks">
        <div class="allTasks">
            <h1>All Tasks</h1>
            <ul>
                <!-- TODO: Create a button that sends ID to app.component.ts -->
                <form (submit) = "onDeleteButton()">
                    <li *ngFor = "let task of tasks">{{task.title}} - {{task.description}} <button (click) = "onDeleteButton(task._id)">Delete</button></li>
                </form>
            </ul>
        </div>
        
        <div class="thirdTask">
            <h1>Third Task</h1>
            <ul>
                <li>{{ tasks[2].title }} - {{ tasks[2].description }}</li>
            </ul>
        </div>
    </div>

</div>

